body{
    margin: 0px;
}
.navbar ul{
    list-style-type: none;
    background-color: black;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}
.navbar a{
    color: crimson;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(82, 0, 0);
}
.navbar li{
    float:left;
    text-align: center;
    font-size: 18px;
}
